* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assert/background_img.jpg);
    font-family: sans-serif;
}
.login-logo {
    width: 10%;
    height: 10%;
    margin-top: 1.5rem;
    margin-left: 10rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.login {
    background-color: rgba(0, 0, 0, 0.7);
    width: 25%;
    min-height: 670px;
    padding: 0 3rem 3rem 3rem;
    border-radius: 6px;
}

.login-heading {
    font-size: 2.5rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.userLogin {
    width: 100%;
    height: 3rem;
    background: rgba(70, 90, 126, 0.4);
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.loginButton {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgb(223, 43, 23);
    border: none;
    font-size: 18px;
    color: white;
    margin-bottom: 2rem;
}

form a {
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 3rem;
}

.login-footer {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.login-footer input {
    height: 18px;
    width: 18px;
    margin-right: 1rem;
}

.login-footer label {
    color: white;
}

.login-signup {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1rem;
}

.login-signup a {
    color: white;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 1rem;
}

.login-learnmore {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 20px;
}

.login-learnmore a {
    text-decoration: none;
}

.netflix-footer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.netflix-footer__main {
    padding: 3rem 5rem 3rem 10rem;
}

.netflix-footer__call {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.netflix-footer__help-ul-faq li {
    color: rgba(255, 255, 255, 0.7);
    list-style-type: none;
    padding-right: 200px;
}

.netflix-footer__help-ul-faq {
    display: flex;
    margin-bottom: 2rem;
}

.netflix-footer__help-ul-faq li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.netflix-footer__help-ul-cookie li {
    color: rgba(255, 255, 255, 0.7);
    list-style-type: none;
    padding-right: 90px;
}

.netflix-footer__help-ul-cookie {
    display: flex;
    margin-bottom: 2rem;
}

.netflix-footer__help-ul-cookie li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.netflix-footer__dropdown {
    background-color: rgba(101, 101, 101, 0.2);
    color: white;
    padding: 10px;
    border-radius: 4px;
}
.test{
    color: red;
}
.hr-line{
    display: none;
}

/* media query */

@media screen and (max-width:821px){
    .login-logo {
        width: 20%;
        height: 20%;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .login {
        background-color: rgba(0, 0, 0, 0.7);
        width: 50%;
        min-height: 500px;
        padding: 0 3rem 3rem 3rem;
        border-radius: 6px;
    }
    .login-heading {
        font-size: 2rem;
    }
    .netflix-footer__main {
        padding: 2rem;
    }
    .netflix-footer__call {
        padding-left: 1px;
    }
    .netflix-footer__help-ul-faq li {
        padding-right: 70px;
    }
    .hr-line{
        display: none;
    }
}
@media screen and (max-width: 600px){
    body{
        background-image: none;
        background-color: black;
        font-family: sans-serif;
    }
    .login {
        width: 100%;
        min-height: 500px;
        padding: 2rem;
        padding-top: 0;
    }
    .login-heading {
        font-size: 2rem;
        padding-top: 0;
        padding-bottom: 1rem;
    }
    form a {
        cursor: pointer;
    }
    .login-footer {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .login-signup {
        margin-bottom: 0rem;
    }
    .netflix-footer__help-ul-faq {
        display: flex;
        flex-direction: column;
    }
    .netflix-footer__help-ul-faq li a {
        text-decoration: none;
        padding-top: 1rem;
    }
    .netflix-footer__help-ul-faq li{
        padding-bottom: 1rem;
    }
    .netflix-footer__help-ul-cookie{
        display: flex;
        flex-direction: column;
    }
    .netflix-footer__help-ul-cookie li a{
        text-decoration: none;
    }
    .netflix-footer__help-ul-cookie li{
        padding-bottom: 1rem;
    }
    .netflix-footer__form {
        padding-left: 0px;
    }
    .container{
        border-bottom: 0rem;
    }
    .netflix-footer__main {
    padding: 0rem 0rem 1rem 3rem;
    }
    .login{
        padding: 0rem 0rem 0rem 3rem;
    }

}